.header {
    background-color: #2e2e2e;
}
.principal {
    display: flex;
    position: fixed;
    justify-content: space-around;
    align-items: center;
    min-height: 9vh;
    width: 100%;
    background-color: #2e2e2e;
    font-family: 'Montserrat', sans-serif;
    z-index: 3;
}
    .nav-links {
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: #2e2e2e;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: none;
        z-index: 3;
    }
    .separator {
        color: transparent;
        position: absolute;
        right: 0;
        height: 92vh;
        top: 8vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: none;
        z-index: 3;
    }
    .link-container {
        position: absolute;
        top: 50px;
    }
    .link-container li {
        padding: 30px 0;
        list-style: none;
        opacity: 0;
        font-size: 22px;
    }
    .link-container li {
        display: flex;
        justify-content: left;
        align-items: center;
    }
    .link-container li .icon-box {
        width: 25px;
        height: 25px;
        display: flex;
        margin-right: 5px;
        align-items: center;
        justify-content: center;font-size: 14px;
        opacity: 0.5;
        color: #ffffff;
        transition: 0.5s;
    }
    .link-container li a {
        height: fit-content;
        color: #ffffff;
        text-decoration: none;
        letter-spacing: 3px;
        font-size: 14px;
    }
    .link-container li:hover i {
        opacity: .8;
        color: #f44336;
        transition: 0.5s;
    }
    .link-container li:hover a {
        opacity: .8;
        color: #f44336;
        transition: 0.5s;
    }

    .nav-links .profile {
        position: absolute;
        opacity: 0;
        bottom: 60px;
        filter: blur(.1px);
        -webkit-filter: blur(.1px);
        margin: 0;
    }

    .user .profile {
        filter: blur(.1px);
        -webkit-filter: blur(.1px);
        margin: 0;
    }

    .profile:hover {
        cursor: pointer;
    }
    .profile i {
        border: 5px solid #ffffff;
        padding: 5px 8px;
        font-size: 30px;
        color: #ffffff;
        border-radius: 50%;
    }

    .nav-user {
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: #2e2e2e;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: none;
        z-index: 3;
    }

    .nav-active {
        transform: translateX(0%);
        transition: transform 0.5s ease-in;
        overflow: hidden;
    }
    .nav-active button{
        display: inline;
    }
    .nav-deactive {
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }

    .separator-active {
        transform: translateX(-100%);
        transition: transform 0.5s ease-in;
        overflow: hidden;
    }
    .separator-deactive {
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }

    .logo {
        float: left;
        width: 60px;
        height: auto;
        justify-content: center;
        align-items: center;
        padding-left: 10px;
        margin-right: 80px;
    }
    .menu {
        margin-left: 80px;
        position: relative;
        justify-content: center;
        align-items: center;
        width: 80px;
        height: 80px;
        cursor: pointer;
        transition: all .5s ease-in-out;
        float: right;
        display: flex;
    }
    .burger {
        width: 40px;
        height: 5px;
        background: #ffffff;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(255, 101, 47, .2);
        transition: all .5s ease-in-out;
    }
    .burger::before, .burger::after {
        content: '';
        position: absolute;
        width: 40px;
        height: 5px;
        background: #ffffff;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(255, 101, 47, .2);
        transition: all .5s ease-in-out;
    }
    .burger::before {
        transform: translateY(-12px);
    }
    .burger::after {
        transform: translateY(12px);
    }
    /* ANIMATION */
    .menu.open .burger {
        background: transparent;
        box-shadow: none;
    }
    .menu.open .burger::before {
        transform: rotate(45deg);
    }
    .menu.open .burger::after {
        transform: rotate(-45deg);
    }
    @keyframes navUnfade {
        from{
            opacity: 0;
            transform: translateX(50px);
        }
        to{
            opacity: 1;
            transform: translateX(0px);
        }
    }
    @keyframes navFade {
        from{
            opacity: 1;
            transform: translateX(0px);
        }
        to{
            opacity: 0;
            transform: translateX(50px);
        }
    }
.user {
    display: none;
}

@media (min-width: 768px) {
    .logo {
        margin: 0;
        padding: 0;
        margin-top: 3px;
        width: fit-content;
        height: fit-content;
    }
    .nav-links {
        all: initial;
        all: unset;
        display: none;
    }
    .nav-links {
        all: initial;
        all: unset;
        width: 40%;
    }
    .nav-links .profile {
        display: none;
    }
    .link-container {
        all: initial;
        all: unset;
        display: flex;
        justify-content: space-around;
    }
    .link-container li {
        all: initial;
        all: unset;
        list-style: none;
        display: inline-block;
    }
    .link-container li:hover {
        transition: .5s;
    }

    .nav-user {
        display: none;
    }
    .nav-user ul li {
        display: inline-block;
    }
    .nav-user li {
        all: initial;
        all: unset;
        list-style: none;
    }
    .menu {
        all: initial;
        all: unset;
        display: none;
    }
    .intro {
        all: initial;
        all: unset;
    }
    .user {
        all: initial;
        all: unset;
        position: relative;
        height: 50px;
        width: 50px;
        }
        
        .user .user-menu {
            display: absolute;
            transform: translateX(-120px);
            background-color: #ffffff;
            width: 180px;
            margin-top: 15px;
            box-sizing: 0 5px 25px rgba(0,0,0,0.1);
            border-radius: 8px;
            transition: 0.5s;
            visibility: hidden;
            opacity: 0;
        }
        .user .user-menu.active {
            opacity: 1;
            visibility: visible;
            border: 1px solid rgba(46,46,46,.3);
        }
        .user .user-menu::before {
            content: '';
            top: -9px;
            width: 15px;
            height: 15px;
            position: absolute;
            background-color: #ffffff;
            border-top: 1px solid rgba(46,46,46,.3);
            transform: translateX(135px) rotate(45deg);
        }
        .user .user-menu h3 {
            width: 100%;
            text-align: center;
            font-size: 18px;
            padding: 20px 0;
            font-weight: 500;
    
        }
        .user .user-menu ul li {
            list-style: none;
            padding: 10px 0;
            border-top: 1px solid rgba(0,0,0,0.05);
            display: flex;
            align-items: center;
        }
        .user .user-menu ul li .icon-box {
            width: 25px;
            height: 25px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .user .user-menu ul li i {
            font-size: 20px;
            margin-left: 20px;
            margin-right: 10px;
            opacity: 0.5;
            transition: 0.5s;
        }
        .user .user-menu ul li:hover i {
            opacity: 1;
            color: #f44336;
            transition: .5s;
        }
        .user .user-menu ul li a {
            display: inline-block;
            text-decoration: none;
            color: #555;
            font-weight: 500;
        }
        .user .user-menu ul li:hover a {
            color: #555;
            transition: .5s;
        }
}