* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lora', serif;
}
h1, h2, h3, h4 {
    font-family: 'Montserrat', sans-serif;
}
.wrapper {
    height: 100vh;
    position: relative;
    overflow-x:hidden;
} 
.header {
    background-color: #2e2e2e;
}
.principal {
    display: flex;
    position: fixed;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    width: 100%;
    background-color: #2e2e2e;
    font-family: 'Montserrat', sans-serif;
    z-index: 3;
}
    .nav-links {
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: #2e2e2e;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: none;
        z-index: 3;
    }
    .nav-links button {
        border: none;
        padding: 10px 27px;
        margin: 4px 2px;
        cursor: pointer;
        border-radius: 8px;
        background-color: #f44336;
        width: fit-content;
        position: relative;
        z-index: 0;
    }
    .nav-links button a {
        text-decoration: none;
        color: #ffffff;
        font-size: 16px;
    }
    .nav-links button{
        display: none;
    }
    .nav-active {
        transform: translateX(0%);
        transition: transform 0.5s ease-in;
        overflow: hidden;
    }
    .nav-active button{
        display: inline;
    }
    .nav-deactive {
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }

    .nav-links li {
        list-style: none;
        opacity: 0;
    }
    .nav-links a {
        color: #ffffff;
        text-decoration: none;
        letter-spacing: 3px;
        font-size: 14px;
    }
    .logo {
        float: left;
        display: flex;
        width: 60px;
        height: auto;
        justify-content: center;
        align-items: center;
        padding-left: 10px;
    }
    .menu {
        position: relative;
        justify-content: center;
        align-items: center;
        width: 80px;
        height: 80px;
        cursor: pointer;
        transition: all .5s ease-in-out;
        float: right;
        display: flex;
    }
    .burger {
        width: 40px;
        height: 5px;
        background: #ffffff;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(255, 101, 47, .2);
        transition: all .5s ease-in-out;
    }
    .burger::before, .burger::after {
        content: '';
        position: absolute;
        width: 40px;
        height: 5px;
        background: #ffffff;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(255, 101, 47, .2);
        transition: all .5s ease-in-out;
    }
    .burger::before {
        transform: translateY(-12px);
    }
    .burger::after {
        transform: translateY(12px);
    }
    /* ANIMATION */
    .menu.open .burger {
        background: transparent;
        box-shadow: none;
    }
    .menu.open .burger::before {
        transform: rotate(45deg);
    }
    .menu.open .burger::after {
        transform: rotate(-45deg);
    }
    @keyframes navLinkFade {
        from{
            opacity: 0;
            transform: translateX(50px);
        }
        to{
            opacity: 1;
            transform: translateX(0px);
        }
    }
    .login button {
        display: none;
    }

.contact {
    text-align: center;
    background-image: linear-gradient( #2e2e2e, #292929);
    padding-top: 100px;
    padding-bottom: 40px;
    }
    .contact h1{
        color: #ffffff;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    .contact p{
        color: #9c9ca1;
        text-align: center;
        padding-bottom: 20px;
    }
    .intro {
        width: 70%;
        margin: 0 auto;
    }
    .contact input {
        height: 35px;
        color: #9c9ca1;
    }
    .contact textarea {
        height: 70px;
        color: #9c9ca1;
    }
    .form {
        margin-top: 20px;
    }
    .form-control {
        font-size: 15px;
        min-width: 60%;
        background: transparent;
        border: 1px solid #9c9ca1;
        border-radius: 8px;
        padding:10px;
        margin-bottom: 16px;
    }
    .btm {
        position: relative;
    }
    .contact button {
        border: none;
        padding: 15px 32px;
        margin: 4px 2px;
        cursor: pointer;
        border-radius: 8px;
        background-color: #f44336;
        width: fit-content;
        position: relative;
        z-index: 0;
        text-decoration: none;
        color: #ffffff;
        font-size: 15px;
    }

.stories {
    background-color: #ffffff;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 40px;
    padding-right:40px;
}
    .stories h2 {
        font-weight: secondary;
        text-transform: uppercase;
        text-align: center;
        justify-content: center;
        color: #818181;
        margin-bottom: 35px;
    }
    .stories p{
        font-size: 15px;
        text-align: center;
        justify-content: center;
        color: #9a9a9a;
    }

    @media (min-width: 768px) {
        .nav-links {
            all: initial;
            all: unset;
            display: flex;
            justify-content: space-around;
            width: 40%;
        }
        .nav-links ul li {
            display: inline-block;
        }
        .nav-links li {
            all: initial;
            all: unset;
            list-style: none;
        }
        .menu {
            all: initial;
            all: unset;
            display: none;
        }
        .intro {
            all: initial;
            all: unset;
        }
        .login button {
            all: initial;
            all: unset;
            border: none;
            padding: 10px 27px;
            margin: 4px 2px;
            cursor: pointer;
            border-radius: 8px;
            background-color: #f44336;
            width: fit-content;
            position: relative;
            z-index: 0;
        }
        .login button a {
            all: initial;
            all: unset;
            text-decoration: none;
            color: #ffffff;
            font-size: 16px;
        }
    }
    @media (min-width:1024px) {
        .nav-links {
            all: initial;
            all: unset;
            display: flex;
            justify-content: space-around;
            width: 50%;
        }    
        .nav-links li {
            all: initial;
            all: unset;
            list-style: none;
        }
        .menu {
            all: initial;
            all: unset;
            display: none;
        }
        .intro {
            all: initial;
            all: unset;
        }
        .login button {
            all: initial;
            all: unset;
            border: none;
            padding: 10px 27px;
            margin: 4px 2px;
            cursor: pointer;
            border-radius: 8px;
            background-color: #f44336;
            width: fit-content;
            position: relative;
            z-index: 0;
        }
        .login button a {
            all: initial;
            all: unset;
            text-decoration: none;
            color: #ffffff;
            font-size: 16px;
        }
    }

.footer {
    margin-top: 15px;
    background-color: #503737;
}
.license {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 8vh;
    width: 100%;
    background-color: #2e2e2e;
    font-family: 'Montserrat', sans-serif;
    color: #9a9a9a;
}