* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lora', serif;
}
h1, h2, h3, h4 {
    font-family: 'Montserrat', sans-serif;
}
.wrapper {
    height: 100vh;
    position: relative;
    overflow-x:hidden;
} 
.header {
    background-color: #2e2e2e;
}
.principal {
    display: flex;
    position: fixed;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    width: 100%;
    background-color: #2e2e2e;
    font-family: 'Montserrat', sans-serif;
    z-index: 3;
}
    .nav-links {
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: #2e2e2e;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: none;
        z-index: 3;
    }
    .nav-active {
        transform: translateX(0%);
        transition: transform 0.5s ease-in;
        overflow: hidden;
    }
    .nav-deactive {
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }
    .nav-links li {
        list-style: none;
        opacity: 0;
    }
    .nav-links a {
        color: #ffffff;
        text-decoration: none;
        letter-spacing: 3px;
        font-size: 14px;
    }
    .logo {
        float: left;
        display: flex;
        width: 60px;
        height: auto;
        justify-content: center;
        align-items: center;
        padding-left: 10px;
    }
    .menu {
        position: relative;
        justify-content: center;
        align-items: center;
        width: 80px;
        height: 80px;
        cursor: pointer;
        transition: all .5s ease-in-out;
        float: right;
        display: flex;
    }
    .burger {
        width: 40px;
        height: 5px;
        background: #ffffff;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(255, 101, 47, .2);
        transition: all .5s ease-in-out;
    }
    .burger::before, .burger::after {
        content: '';
        position: absolute;
        width: 40px;
        height: 5px;
        background: #ffffff;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(255, 101, 47, .2);
        transition: all .5s ease-in-out;
    }
    .burger::before {
        transform: translateY(-12px);
    }
    .burger::after {
        transform: translateY(12px);
    }
    /* ANIMATION */
    .menu.open .burger {
        background: transparent;
        box-shadow: none;
    }
    .menu.open .burger::before {
        transform: rotate(45deg);
    }
    .menu.open .burger::after {
        transform: rotate(-45deg);
    }
    @keyframes navLinkFade {
        from{
            opacity: 0;
            transform: translateX(50px);
        }
        to{
            opacity: 1;
            transform: translateX(0px);
        }
    }


.presentation {
    background-image: linear-gradient( #2e2e2e, #292929);
    padding-top: 100px;
    padding-bottom: 70px;
}
    .presentation h1{
        color: #ffffff;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    .presentation p{
        color: #9c9ca1;
        text-align: center;
    }
    .intro {
        width: 70%;
        margin: 0 auto;
    }
    .btm {
        padding-top: 50px;
        position: relative;
    }
    .presentation button {
        border: none;
        padding: 15px 32px;
        margin: 4px 2px;
        cursor: pointer;
        border-radius: 8px;
        background-color: #f44336;
        width: fit-content;
        position: relative;
        left: 50%;
        transform: translate(-50%,-50%);
        z-index: 0;
    }
    .presentation button a {
        text-decoration: none;
        color: #ffffff;
        font-size: 16px;
    }

.services {
    background-color: #ffffff;
}

    .skill-card {
        display: grid;
        grid-template-columns: 300px;
        grid-template-rows: 150px 200px;
        grid-template-areas: "image" "text";
        background-color: #ffffff;
        text-align: center;
    }
    .card-image{
        grid-area: image;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .iconbtn {
        width: 80px;
        height: 80px;
        text-decoration: none;
        margin: 20px;
        position: relative;
        font-size: 40px;
        border-radius: 50%;
    }
    .iconbtn::before {
        position: absolute;
        z-index: 1;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
    }
    .iconbtn::after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        border-radius: 50%;
        z-index: 0;
    }
    .card-image .iconbtn {
        border: 4px solid #f44336;
        color: #f44336;
    }
    .card-image .iconbtn::after {
        background:  #ffffff;
        transition: 0.45s;
    }
    .card-image .iconbtn:hover {
        color:  #ffffff;
    }
    .card-image .iconbtn:hover::after {
        transform: scale(1.1);
        background:  #f44336;
    }
    .card-text {
        grid-area: text;
    }
    .card-text h2 {
        font-weight: secondary;
        text-transform: uppercase;
        color: #818181;
        margin-bottom: 35px;
    }
    .card-text p {
        font-size: 15px;
        text-align: justify;
        justify-content: center;
        color: #9a9a9a;
        padding-left: 10px;
        padding-right: 10px;
    }

.stories {
    background-color: #ffffff;
    margin-top: 20px;
    margin-bottom: 20px;
}
    .stories h2 {
        font-weight: secondary;
        text-transform: uppercase;
        text-align: center;
        justify-content: center;
        color: #818181;
        margin-bottom: 35px;
    }
    .stories p{
        font-size: 15px;
        text-align: center;
        justify-content: center;
        color: #9a9a9a;
        padding-left: 10px;
        padding-right: 10px;
    }

@media (min-width: 768px) {
    .nav-links {
        all: initial;
        all: unset;
        display: flex;
        justify-content: space-around;
        width: 40%;
    }
    .nav-links ul li {
        display: inline-block;
    }
    .nav-links li {
        all: initial;
        all: unset;
        list-style: none;
    }
    .menu {
        all: initial;
        all: unset;
        display: none;
    }
    .intro {
        all: initial;
        all: unset;
    }
}
@media (min-width:1024px) {
    .nav-links {
        all: initial;
        all: unset;
        display: flex;
        justify-content: space-around;
        width: 50%;
    }    
    .nav-links li {
        all: initial;
        all: unset;
        list-style: none;
    }
    .menu {
        all: initial;
        all: unset;
        display: none;
    }
    .intro {
        all: initial;
        all: unset;
    }
}